
.btn-block {
    height: 100%;
}


.buttonCell {
    height: 100%;
}

.letter-X {
    background-repeat: no-repeat;
    background-image: url(./../../images/X.svg);
    background-position: center;
    background-size: contain;
    /*
    */
    /*height: 100% !important;*/
}
