.Home {
    /*text-align: center;*/
    height: 100vh;
    width: 100vw;
    /*
    border: solid black 4px;
    box-sizing: border-box;
    outline-offset: -4px;
    */
}

.Home-header {
    /*
    flex-direction: column;
    align-items: center;
    justify-content: center;
    */
    background-repeat: no-repeat;
    background-image: url(./../../images/shopNationLogo.png);
    height: 10%;
    background-size: contain;
    background-position: center;
    /*
    background-repeat: no-repeat;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    */
}


.Home-centre {
    flex-direction: row;
    display: flex;
    height: 90%;
    width: 100%;
    /*
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    */
}

.Home-items {
    /* align-self: flex-start; */
    width: 60%;
    /*
    border-top: solid black 4px;
    border-right: solid black 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    */
}

.Home-basket {
    /* align-self: flex-end;*/
    width: 40%;
    /*
    border-top: solid black 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    */
}

.Home-basketList {
    height: 85%;
    /*
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    */
}

.Home-basket-header {
    height: 10%;
    padding: 3%;
    text-align: center;
    font-size: 30px;
    background-color: darkblue;
    color: white;
    /*
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    */
}

.Home-header-line {
    /*
    height: 0vh;
    width: 30vw;
    margin-left: 5vw;
    margin-right: 5vw;
    border-top: solid black 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    */
}

.Home-basket-shoppingList {
    height: 90%;
    /* overflow-y: scroll; */
    overflow: auto;
}

.Home-basket-content {
    height: 90%;
    /* align-self: flex-end;*/
    /*
    width: 30vw;
    border-top: solid black 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    */
}

.Home-total-line {
    /*
    width: 30vw;
    border-top: solid black 2px;
    margin-left: 5vw;
    margin-right: 5vw;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    */
}

.Home-basket-total {

    height: 10%;
    /*
    height: 5vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    */
}

.Home-checkout {
    height: 15%;
    /*
    border-top: solid black 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    */
}

.btn-block {
    height: 100%;
}

.Home-search {
    height: 10%;
    padding: 2% 0% 2% 0%;
    /* 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    */
}

.Home-itemList {
    height: 90%;
    overflow: auto;
    /*
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    */
}

.input-group.md-form.form-sm.form-2 input.lime-border {
    border: 1px solid #cddc39;
}

/* .fa-search:before {
    content: "\f002";
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */